calibration:
  cv_folds: 5
  method: isotonic
models:
  lgbm_ranker:
    callbacks:
    - patience: 100
      type: early_stopping
      verbose: true
    hyperparameters:
      boosting_type: gbdt
      colsample_bytree: 0.8
      learning_rate: 0.01
      max_depth: -1
      n_estimators: 2000
      num_leaves: 31
      reg_alpha: 0.1
      reg_lambda: 0.1
      subsample: 0.8
    metric: ndcg
    model_type: ranker
    objective: lambdarank
  lgbm_regressor_time:
    hyperparameters:
      boosting_type: gbdt
      learning_rate: 0.05
      n_estimators: 1000
      num_leaves: 64
    metric: mae
    model_type: regressor
    objective: regression_l1
  mu_estimator:
    ranker_params:
      boosting_type: gbdt
      colsample_bytree: 0.8
      learning_rate: 0.01
      max_depth: -1
      metric: ndcg
      n_estimators: 2000
      num_leaves: 31
      objective: lambdarank
      reg_alpha: 0.1
      reg_lambda: 0.1
      subsample: 0.8
    regressor_params:
      boosting_type: gbdt
      colsample_bytree: 0.8
      learning_rate: 0.05
      max_depth: -1
      metric: mae
      n_estimators: 1000
      num_leaves: 64
      objective: regression
      reg_alpha: 0.1
      reg_lambda: 0.1
      subsample: 0.8
mu_estimator:
  ranker_params:
    colsample_bytree: 0.9803217545310665
    learning_rate: 0.02365358473832376
    max_depth: 3
    metric: ndcg
    min_child_samples: 10
    n_estimators: 968
    num_leaves: 140
    objective: lambdarank
    subsample: 0.6476313083536415
  regressor_params:
    colsample_bytree: 0.9803217545310665
    learning_rate: 0.02365358473832376
    max_depth: 3
    min_child_samples: 10
    n_estimators: 968
    num_leaves: 140
    reg_alpha: 9.78408463373145e-07
    reg_lambda: 0.0004777583865145214
    subsample: 0.6476313083536415
training:
  feature_version: v1.0
  random_seed: 42
  train_period:
    end: '2023-12-31'
    start: '2018-01-01'
  validation_period:
    end: '2024-12-31'
    start: '2024-01-01'
